div {
    outline: 1px solid red;
    min-height: 1rem;
    padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Ubuntu, sans-serif;
    font-weight:300;
}

.row {
    display:grid;
    row-gap: 1rem;
}

.col {
    position:relative;
    background-color: orange;