:root {
    --green: #25c389;
    --yellow: #ffb901;
    --red: #de6262;
    --lightBlue: #1691bd;
    --darkBlue: #166ba2;
    --navy: #16242f;

    --padding-d: 0 20vw;
    --gap-d: 2em;

}



html {
    height: 100vh;
    width: 100vw;

}

body {
    width: 100vw;
    margin: 0;
}


.headerMargin {
    margin: 3em 0;
}

nav,
main {
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    padding: var(--padding-d);
}



p {
    font-size: 12px;
    color: grey;
    line-height: 1.5em;
}

a {
    text-decoration: none;
}

.row {
    display: grid;
    row-gap: 1rem;
}

.col {
    position: relative;
}

/*Nav Bar*/

nav {
    display: flex;
    justify-content: center;
}

.hamburger {
    display: none;
}

.menu {
    display: none;
}

.display {
    background: lightgray;
    padding: 2em;
    line-height: 2em;
    display: contents;
}

.display>ul {
    list-style-type: none;
    text-align: right;
}

.logo {
    object-fit: contain;
}

.navTab>h5 {
    color: white;
    position: absolute;
    padding: 1em;
    margin: 0;
}

.navBarIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
}

.navBarIcons img {
    width: 10em;
    height: 20em;
    object-fit: cover;
}

.navTab {
    height: 5em;
    width: 8em;

}

.homeTab {
    background-color: var(--green);
}

.pagesTab {
    background-color: var(--yellow);
}

.blogTab {
    background-color: var(--red);
}

.portfolioTab {
    background-color: var(--lightBlue);
}

.emailTab {
    background-color: var(--darkBlue);
}

/*Carousel*/

.carousel {
    text-align: center;
    height: 20em;
    border: 1px solid var(--lightBlue);
    background-color: #ebebeb;
}

.carouselPicture img {
    object-fit: cover;
    width: 50em;
    height: 50em;
}

.carouselPicture {
    width: 50vw;
    height: 20vw;
    display: flex;
    align-items: center;
}

/*Tag Line*/
.tagLine {
    margin: 4em 0;
}

.metroColor {
    color: var(--lightBlue);
}

/*Services Section*/

.serviceImg {
    height: 6em;
    width: 6em;
    object-fit: cover;
}

.serviceCard {
    display: flex;
    gap: var(--gap-d);

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Recent News*/

.recent-news-posts {
    display: flex;
    gap: var(--gap-d);
    padding-bottom: 3em;
    border-bottom: 1px solid lightgray;
    position: relative;

}

.recent-news-posts::after {
    content: " ";
    display: block;
    position: absolute;
    width: 31%;
    top: 14.88em;
    height: 0;
    border-top: 4px solid var(--lightBlue);
}

.image-post {
    width: 100%;
    height: 12em;
    object-fit: cover;

}

/*Latest Projects*/
.latest-projects-posts {
    display: flex;

}



/*Accordion*/
.accordion-section {
    display: flex;
}

.accordion,
.tabs {
    width: 100%;
    height: 20em;
    border: 1px solid var(--lightBlue);
}

/*Companies*/
.companies {
    display: flex;
    flex-direction: row;
    margin-top: 4em;
    margin-bottom: 4em;
    justify-content: center;
    gap: 1em;
}

.comp-logo {
    width: 100%;
    height: 4em;
    object-fit: contain;
}

.company-col {
    background-color: #ebebeb;
}

/*FOOTER*/

footer {
    background: var(--navy);
    color: white;
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    text-decoration: none;
    padding: var(--padding-d);
    padding-top: 2em;
}

.flickr>h3 {
    max-width: 30rem;
    border-bottom: 0.1em solid var(--yellow);
    position: relative;
    padding-bottom: .8em;
}

.flickr>h3::after {
    content: " ";
    display: block;
    position: absolute;
    left: 1rem;
    top: 2em;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid var(--yellow);
}

.about-socials>h3 {
    border-bottom: 0.1em solid var(--green);
    position: relative;
    padding-bottom: .8em;
    max-width: 30rem;
}

.about-socials>h3::after {
    content: " ";
    display: block;
    position: absolute;
    left: 1rem;
    top: 2em;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid var(--green);
}

.live-social>h3 {
    border-bottom: 0.1em solid var(--red);
    padding-bottom: 0.75em;
    position: relative;
    padding-bottom: .8em;
    max-width: 30rem;
}

.live-social>h3::after {
    content: " ";
    display: block;
    position: absolute;
    left: 1rem;
    top: 2em;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid var(--red);
}

.newsletter>h3 {
    border-bottom: 0.1em solid var(--lightBlue);
    padding-bottom: 0.75em;
    position: relative;
    padding-bottom: .8em;
    max-width: 30rem;
}

.newsletter>h3::after {
    content: " ";
    display: block;
    position: absolute;
    left: 1rem;
    top: 2em;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid var(--lightBlue);
}


.footer-content {
    display: flex;
    gap: 1em;
    padding-bottom: 4em;
}

footer p {
    color: white;
}

.headshot {
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.author {
    display: flex;
    gap: 2em
}

.author-img {
    width: 5em;
    height: 5em;
    object-fit: cover;
    border-radius: 100%;
}

.news-btn:hover {
    cursor: pointer;
    background-color: white;
}

.flickr-img {
    width: 4em;
    height: 4em;
    object-fit: cover;
}

.social-img {
    width: 2em;
}


.tweet-img {
    width: 100%;
    height: 5em;
    object-fit: cover;
}

.live-social {
    gap: 1em;
}

form {
    width: 100%;
    display: flex;
    align-content: center;
    gap: 0.5em;
}

#email {
    background-color: var(--red);
    border: none;
    height: 2.2em;
    color: white;
    padding: 0.25em;
    flex-grow: 1;

}

::placeholder {
    color: white;
}

.news-btn {
    background-color: var(--yellow);
    border: none;
    padding: .5em;
}

.airplane-img {
    height: 1em;
    width: 1em;
    object-fit: cover;
    padding: 0.25em;
}

.about-socials,
.flickr,
.live-social,
.newsletter {
    width: 25%;
}

.footer-decor {
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 2em;
    display: flex;
    justify-content: right;
}

.decor {
    width: 6em;
    height: 1.5em;
}

.decor-green {
    background-color: var(--green);
}

.decor-yellow {
    background-color: var(--yellow);
}

.decor-red {
    background-color: var(--red);
}

.decor-l-blue {
    background-color: var(--lightBlue);
}

.decor-d-blue {
    background-color: var(--darkBlue);
}

/** small/mobile version */
@media screen and (max-width:29.9375em) {

    .navTab,
    .flickr,
    .newsletter,
    .companies,
    .misc-section,
    .accordion-section,
    .about-socials>h3,
    .about-socials>p,
    .carousel {
        display: none;
    }

    h4 {
        margin-bottom: 0;
    }


    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .serviceCard{
        flex-direction: column;
    }

    .recent-news-posts{
        flex-direction: column;
    }

    .recent-news-posts::after {
        width: 50%;
        top: 56.3em;
    }

    .logo {
        width: 100%;
    }

    .hamburger {
        display: contents;
    }

    .ham-img {
        height: 3em;
        object-fit: cover;
        margin-right: 2em;
    }

    .logoColumn {
        align-content: center;
        margin-top: 0;
    }

    .author-img {
        height: 7.5em;
        width: 7.5em;
    }

    .row {
        max-width: 70em;
        column-gap: .5rem;
        row-gap: 1.5rem;
        margin: 0 auto;
    }

    .social-img {
        width: 3em;
    }
    

    .social-icons {
        display: flex;
        gap: 0.25em;
        align-items:center;
    }

    .social-icons img {
        width:40px;
        height:40px;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
    }

    .live-social {
        margin: 2em 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .tweet-img {
        width: 15em;
        height: 5em;
        object-fit: cover;
    }

    footer {
        padding: 2em 3em 0em;
        margin-top: 2em;
    }

    .s-col-1-1 {
        grid-template-columns: 1fr;
    }

    .hidden-photo {
        display: content;
    }

    .accordion {
        display: none;
    }
}

/** medium only */
@media screen and (min-width:30em) and (max-width:63.9375em) {

    .navTab {
        height: 5em;
        width: 5em;
    }

    .logo {
        width: 100%;
    }

    .serviceCard{
        display:grid;
    }

    .recent-news-posts{
        display: grid;
    }

    .recent-news-posts::after {
        width: 50%;
        top: 29.35em;
    }

    .accordion-section{
        flex-direction: column;
        gap: 1em;
    }
    

    .footer-content {
        display: grid;
    }

    .about-socials,
    .flickr,
    .live-social,
    .newsletter {
        width: 100%;
    }

    .decor {
        width: 3em;
        height: 1em;
    }

    .m-footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .companies {
        display: flex;
    }

    .comp-logo {
        object-fit: contain;
        height:2em;
        margin-top:0.25em;

    }

    .m-row {
        display: grid;
        row-gap: 1rem;
    }

    .m-col-2-1 {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
    }

    .hidden-photo {
        display: content;
    }

}

/** large only */
@media screen and (min-width:64em) {

    .l-col-3-1 {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }

    .hidden-photo {
        display: none;
    }

}