div {
    outline: 1px solid red;
    min-height: 1rem;
    padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Ubuntu, sans-serif;
    font-weight:300;
}

.row {
    display:grid;
    row-gap: 1rem;
}

.col {
    position:relative;
    background-color: orange;
}


/** small/mobile version */
@media screen and (max-width:39.9375em) {

}

/** medium and up */
@media screen and (max-width:40em) {
    
}

/** medium only */
@media screen and (min-width:40em) and (max-width:63.9375em) {
    
}

/** large only */
@media screen and (min-width:64em) {
    
}