:root {
    --green: #25c389;
    --yellow: #ffb901;
    --red: #de6262;
    --lightBlue: #1691bd;
    --darkBlue: #166ba2;
    --navy: #16242f;

}

html {
    height: 100vh;
    width: 100vw;

}

body {
    width: 100vw;
    margin: 0;
}


.headerMargin {
    margin: 2em 0;
}

nav,
main {
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

p {
    font-size: 12px;
    color: grey;
    line-height: 1.5em;
}

a {
    text-decoration: none;
}

.row {
    display: grid;
    row-gap: 1rem;
}

.col {
    position: relative;
}


/*Nav Bar*/

.nav {
    height: 5em;
}

nav h5 {
    color: white;
    position: absolute;
    bottom: 0;
    padding: 1em;
    margin: 0;
}

.navBarIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
}

.navBarIcons img {
    width: 10em;
    height: 20em;
    object-fit: cover;
}

.logo {
    width: 40%;
    height: 3em;
    object-fit: cover;
    margin-left: 5em;
}

.logoColumn {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.navTab {
    height: 5em;
    display: flex;
}

.homeTab {
    background-color: var(--green);
}

.pagesTab {
    background-color: var(--yellow);
}

.blogTab {
    background-color: var(--red);
}

.portfolioTab {
    background-color: var(--lightBlue);
}

.emailTab {
    background-color: var(--darkBlue);
}

.hamburger {
    display: none;

}

/*Carousel*/

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20em;
    border: 1px solid var(--lightBlue);
    background-color: #ebebeb;
}

.carouselPicture img {
    object-fit: cover;
    width: 50em;
    height: 50em;
}

.carouselPicture {
    width: 50vw;
    height: 20vw;
    display: flex;
    align-items: center;
}

/*Tag Line*/
.tagLine {
    margin: 4em 0;
}

.metroColor {
    color: var(--lightBlue);
}

/*Services Section*/

.services-section {
    margin-left: 11em;
    margin-right: 11em;
}

.serviceImg {
    height: 6em;
    width: 6em;
    object-fit: cover;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Recent News*/

.recent-news {
    margin-left: 11em;
    margin-right: 11em;
}

.image-post {
    width: 100%;
    height: 12em;
    object-fit: cover;
}

/*Latest Projects*/
.latest-projects-section {
    margin-left: 11em;
    margin-right: 11em;
}


/*Accordion*/
.accordion {
    height: 20em;
    border: 1px solid var(--lightBlue);
    margin-left: 11em;
    margin-right: 11em;

}

/*Companies*/
.companies {
    display: flex;
    margin-top: 4em;
    margin-bottom: 4em;
    gap: 3.1em;
    justify-content: center;
}

.comp-logo {
    width: 12em;
    height: 8em;
    object-fit: contain;
}

.company-col {
    background-color: #ebebeb;
}

/*FOOTER*/

footer {
    background: var(--navy);
    color: white;
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    text-decoration: none;
    padding: 2em 11em 0em;
}

.footer-content {
    display: flex;
    gap: 4em;
}

footer p {
    color: white;
}

.headshot {
    display: flex;
    justify-content: center;
    padding-top:1em;
}

.author-img {
    width: 5em;
    height: 5em;
    object-fit: cover;
    border-radius: 100%;

}

.flickr-img {
    width: 5em;
    height: 5em;
    object-fit: cover;
}

.social-img {
    width: 2em;
}

.tweet-img {
    width: 100%;
    height: 5em;
    object-fit: cover;
}

.live-social {
    gap: 0;
}

#email {
    background-color: var(--red);
    border: none;
    height:2.2em;
    color: white;
    width: 14.05em;
}

.news-btn {
    background-color: var(--yellow);
    border: none;
    padding: .5em;
}

.airplane-img {
    height: 1em;
    width: 1em;
    object-fit: cover;
}

.about-socials,
.flickr,
.live-social,
.newsletter {
    width: 25%;
}

.footer-decor {
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 2em;
    display: flex;
    justify-content: right;
}

.decor {
    width: 6em;
    height: 1.5em;
}

.decor-green {
    background-color: var(--green);
}

.decor-yellow {
    background-color: var(--yellow);
}

.decor-red {
    background-color: var(--red);
}

.decor-l-blue {
    background-color: var(--lightBlue);
}

.decor-d-blue {
    background-color: var(--darkBlue);
}

/** small/mobile version */
@media screen and (max-width:29.9375em) {
    .about {
        display:flex;
        height:50em;
    }

    .nav {
        display: flex;

    }

    .services-section,
    .recent-news,
    .latest-projects-section {
        margin-left: 5em;
        margin-right: 5em;
    }


    .row {
        max-width: 70em;
        column-gap: .5rem;
        row-gap: 1.5rem;
        margin: 0 auto;
    }

    .navTab,
    .flickr,
    .newsletter,
    .companies,
    .misc-section,
    .about-socials>h3,
    .about-socials>p {
        display: none;
    }

    .live-social {
        margin: 0px;
    }


    .social-img {
        width: 3em;
    }

    .hamburger {
        display: contents;

    }

    .tweet-img {
        width: 15em;
        height: 5em;
        object-fit: cover;
    }

    footer {
        padding: 2em 3em 0em;
    }

    .s-col-1-4 {
        grid-template-columns: 4fr;
    }

    .s-col-2-2 {
        grid-template-columns: repeat(2, 2fr);
    }

    .s-col-1-1 {
        grid-template-columns: 1fr;
    }

    .s-col-5-1 {
        grid-template-columns: repeat(5, 1fr);
    }

    .s-col-2-1 {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-grid {
        display: none;
    }

    .hidden-photo {
        display: content;
        background-color: orange;
    }

    .accordion {
        display: none;
    }
}

/** medium only */
@media screen and (min-width:30em) and (max-width:63.9375em) {
    .tagLine {
        margin: 4em 6em;
    }

    .comp-logo {
        width: 8em;
        height: 6em;
        object-fit: contain;
    }

    .footer-content {
        gap: 1em;
    }

    .about-socials,
    .flickr,
    .live-social,
    .newsletter {
        width: 100%;
    }

    .decor {
        width: 3em;
        height: 1em;
    }

    .m-footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .companies {
        display: flex;
    }
    
    .comp-logo {
        object-fit: contain;
    }

    .m-row {
        display: grid;
        row-gap: 1rem;
    }

    .m-col {
        position: relative;
    }

    .m-col-6-1 {
        grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
    }

    .m-col-2-1 {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
    }

    .m-col-5-1 {
        grid-template-columns: repeat(5, 1fr);
        column-gap: 0.5rem;
    }

    .m-col-2-4 {
        grid-template-columns: 1fr 4fr;
    }

    .m-col-3-1 {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }

    .m-col-1-1 {
        grid-template-columns: 1fr
    }

    .m-col-1-2 {
        grid-template-columns: repeat(1, 2fr);
    }

    .hidden-photo {
        display: content;
        background-color: orange;
    }

}

/** large only */
@media screen and (min-width:64em) {

    .l-col-6-1 {
        grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .l-col-4-1 {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1rem;
    }

    .l-col-3-1 {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }

    .l-col-5-1 {
        grid-template-columns: repeat(5, 1fr);
    }

    .l-col-2-4 {
        grid-template-columns: 1fr 4fr;
    }

    .l-col-3-1 {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }

    .l-col-2-1 {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
    }

    .l-footer-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .hidden-photo {
        display: none;
    }

}